
$base-font-size:      16px;

$font-family-defult: 'Roboto', sans-serif;

$font-weight-default: 400;
$font-weight-light:   300;
$font-weight-medium:  500;
$font-weight-bold:    700;


// Typescale Map
// ===========

$ap-typescale-map: (
  '11' : .702rem,
  '12' : .79rem,
  '14' : .889rem,
  '16' : 1rem,
  '18' : 1.125rem,
  '20' : 1.266rem,
  '25' : 1.424rem,
  '30' : 1.602rem  
);

